<configuration>
    <!-- Настройка корневого логгера -->
    <logger name="org.springframework" level="DEBUG"/>
    <logger name="org.springframework.web" level="DEBUG"/>
    <logger name="org.springframework.web.servlet" level="DEBUG"/>
    <logger name="org.springframework.web.servlet.DispatcherServlet" level="DEBUG"/>
    <logger name="org.springframework.context" level="DEBUG"/>
    <logger name="org.springframework.beans" level="DEBUG"/>

    <!-- Конфигурация для вывода логов в консоль -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- Конфигурация корневого логгера (что будет выводиться в файл или консоль) -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>


</configuration>